<div class="row">
    <div class="col-md-6">
        <a routerLink="/client/{{ id }}" class="btn btn-link">
            <i class="fa fa-arrow-circle-o-left"></i> Back To Client
        </a>
    </div>
    <div class="col-md-6">

    </div>
</div>

<div class="card">
    <div class="card-header">
        Edit Client
    </div>
    <div class="card-body">
        <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">

            <!-- First Name -->
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" name="firstName" [(ngModel)]="client.firstName"
                    [ngClass]="{'is-invalid':clientFirstName.errors && clientFirstName.touched}"
                    #clientFirstName="ngModel" minlength="2" required>
                <div [hidden]="!clientFirstName.errors?.required" class="invalid-feedback">
                    First name required
                </div>

                <div [hidden]="!clientFirstName.errors?.minlength" class="invalid-feedback">
                    Must be at least 2 characters
                </div>
            </div>

            <!-- Last Name -->
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name="lastName"  [(ngModel)]="client.lastName"
                    [ngClass]="{'is-invalid':clientLastName.errors && clientLastName.touched}"
                    #clientLastName="ngModel" minlength="2" required>
                <div [hidden]="!clientLastName.errors?.required" class="invalid-feedback">
                    Last name required
                </div>

                <div [hidden]="!clientLastName.errors?.minlength" class="invalid-feedback">
                    Must be at least 2 characters
                </div>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email"  [(ngModel)]="client.email"
                    [ngClass]="{'is-invalid':clientEmail.errors && clientEmail.touched}"
                    #clientEmail="ngModel" minlength="2" required 
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                <div [hidden]="!clientEmail.errors?.required" class="invalid-feedback">
                    Email required
                </div>
            </div>

            <!-- Phone -->
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" name="phone"  [(ngModel)]="client.phone"
                    [ngClass]="{'is-invalid':clientPhone.errors && clientPhone.touched}"
                    #clientPhone="ngModel" minlength="10" required>
                <div [hidden]="!clientPhone.errors?.required" class="invalid-feedback">
                    Last name required
                </div>

                <div [hidden]="!clientPhone.errors?.minlength" class="invalid-feedback">
                    Must be at least 10 characters
                </div>
            </div>

            <!-- Balance -->
            <div class="form-group">
                <label for="balance">Balance</label>
                <input type="text" class="form-control" name="balance" ngModel
                    [ngClass]="{'is-invalid':clientBalance.errors && clientBalance.touched}"
                    #clientBalance="ngModel" minlength="2" required 
                    >
            </div>

            <input type="submit" value="Submit" class="btn btn-primary btn-block">
        </form>
    </div>
</div>